<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style></style>
</head>
<body>
<header>ν—¤λ”</header>

{{{ body }}}

<footer>ν‘Έν„°</footer>

<script></script>
</body>
</html>