<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {{{ _sections.css }}}
</head>
<body>
{{> header }}

{{{ body }}}

{{> footer }}


{{{ _sections.script }}}
</body>
</html>